body {
    font-family: 'Molengo', sans-serif;
    line-height: 1.5;
    background:url(/images/background.png);
}

h1 {
  font-size: 16px;
}

.title {
  margin-bottom: 40px;
}
 
.wrapper {
  overflow: hidden;
}

  .wrapper .left {
    float: left;
  }

  .wrapper .right {
    float: right;
  }

 .container {
    overflow: hidden;
    margin-top: 40px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

  .container .title a.name {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;
  }

  .container.title a.name:hover {
    color: #000000;
  }

  .container .title a.nav {
    color: #000000;
    text-decoration: none; 
    margin-right: 5px;
  }

  .container .title a.nav:hover {
    color: #000000; 
    border-bottom: 2px solid #000000;
  }

.footer {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.post span {
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
}

.entry {
  color: #20256b;
}

.entry:hover {
  color: #000000;
}

#picture {
    width: 210px;
    float: right;
    height: 210px;
    margin: 10px;
    margin-right: 20px;
    padding: 5px;
    border: solid 1px #EFEFEF;
    border: solid 1px #CCC;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
}
