body {
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.5;
  font-size:1.1em;
  background: #fcfcfc;
}

h1 {
  font-size: 20px;
}

.bhr {
  margin-bottom: 40px;
  border: 0;
  height: 2px;
  background: #d4d4d4;
}

.thr {
  border: 0;
  height: 1px;
  background: #d4d4d4;
}

.post-foot {
  text-align: center;
}

a {
  color: #307EA9;
  text-decoration: none;
}

blockquote {
  background: #f9f9f9;
  border-left: 2px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.4em 10px;
}

blockquote p {
  display: inline;
}

.wrapper {
  overflow: hidden;
}

  .wrapper .left {
    float: left;
  }

  .wrapper .right {
    float: right;
  }

.container {
    overflow: hidden;
    margin-top: 40px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

  .container .title a.name {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
  }

  .container .title a.name:hover {
    color: #307EA9;
  }

  .container .title a.nav {
    color: #000000;
    text-decoration: none; 
    margin-right: 5px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
  }

  .container .title a.nav:hover {
    color: #307EA9; 
  }

.footer {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.posts span {
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
}

dl dt { 
  float: left; 
  clear: left; 
}
dl dd { 
  margin-left: 125px; 
}
