<!doctype html>
<html>
<head>
<title>{{ page.title }}</title>
<meta charset="utf-8"/>
<link href='http://fonts.googleapis.com/css?family=Molengo' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/css/style.css" type="text/css">
<link rel="stylesheet" href="/css/code.css" type="text/css">
</head>
<body>
<div class="container">
 <div class="wrapper">
    <div class="left">
      <div class="title">
        <a class="name" href="/">Jens Nazarenus</a>
        <a class="nav" href="/">home</a>
        <a class="nav" href="/about">about</a>
        <a class="nav" href="/imprint">imprint</a>
      </div>
    </div>
    <div class="right">
      <a href="http://github.com/jens-na"><img src="/images/github.png" alt="github"/></a>
      <a href="http://stackoverflow.com/users/1734635/jens-na"><img
        src="/images/stackoverflow.png" alt="stackoverflow"/></a>
      <a href="/atom.xml"><img src="/images/rss.png" alt="rss"/></a>
    </div>
  </div>
  <div class="content">
  {{ content }}
  </div>
</div>
</body>
</html>
