<!doctype html>
<html>
<head>
<title>{{ page.title }}</title>
<meta charset="utf-8"/>
<link rel="stylesheet" href="/css/style.css" type="text/css">
<link rel="stylesheet" href="/css/code.css" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container">
  <div class="wrapper">
    <div class="left">
      <div class="title">
        <a class="name" href="/">Jens Nazarenus</a>
        <a class="nav" href="/projects">projects</a>
        <a class="nav" href="/contact">contact</a>
      </div>
    </div>
    <div class="right">
      <a href="http://github.com/jens-na"><img src="/images/github.png" alt="github"/></a>
    </div>
  </div>
  <hr class="bhr"/>
  <div class="content">
    {{ content }}
  </div>
</div>
</body>
</html>
